<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ants.modules.ArticleManage.mapper.ArticleManageMapper">

    <select id="initArticleSort" resultType="com.ants.modules.ArticleManage.vo.ArticleManageVo">
        SELECT
        COUNT( a.article_sort ) number,
        b.`name` value,
	    b.id
        FROM
        (
        SELECT
        SUBSTRING_INDEX( SUBSTRING_INDEX( a.article_sort, ',', b.help_topic_id + 1 ), ',', - 1 ) AS article_sort
        FROM
        `article_manage` AS a
        JOIN mysql.help_topic AS b ON b.help_topic_id <![CDATA[ < ]]> ( length( a.article_sort ) - length( REPLACE ( a.article_sort, ',', '' ) ) + 1 )
        WHERE
        a.del_flag = '0'
        ) a
        INNER JOIN ( SELECT id, `name` FROM article_sort ) b ON a.article_sort = b.id
        GROUP BY
        a.article_sort
    </select>
    <select id="initArticleLable" resultType="com.ants.modules.ArticleManage.vo.ArticleManageVo">
        SELECT
        COUNT( a.article_lable ) number,
        b.`name` value,
	    b.id
        FROM
        (
        SELECT
        SUBSTRING_INDEX( SUBSTRING_INDEX( a.article_lable, ',', b.help_topic_id + 1 ), ',', - 1 ) AS article_lable
        FROM
        `article_manage` AS a
        JOIN mysql.help_topic AS b ON b.help_topic_id <![CDATA[ < ]]> ( length( a.article_lable ) - length( REPLACE ( a.article_lable, ',', '' ) ) + 1 )
        WHERE
        a.del_flag = '0'
        ) a
        INNER JOIN ( SELECT id, `name` FROM article_lable ) b ON a.article_lable = b.id
        GROUP BY
        a.article_lable
    </select>
</mapper>
