<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ants.modules.system.mapper.SysDictMapper">

    <select id="getDictItemByCode" resultType="com.ants.modules.system.vo.DictModel" parameterType="string">
        SELECT
            s.item_value AS "value",
            s.item_text AS "text"
        FROM
            sys_dict_item s
        WHERE
            dict_id = ( SELECT id FROM sys_dict WHERE dict_code = #{dictCode} )
        ORDER BY
            s.sort_order ASC
    </select>

    <select id="duplicateCheckCountSql" parameterType="com.ants.modules.system.model.DuplicateCheckVo" resultType="java.lang.Long">
        SELECT COUNT(*) FROM ${tableName} WHERE ${fieldName} = #{fieldVal} and id &lt;&gt; #{dataId}
    </select>

    <!-- 重复校验 sql语句 -->
    <select id="duplicateCheckCountSqlNoDataId" resultType="Long" parameterType="com.ants.modules.system.model.DuplicateCheckVo">
        SELECT COUNT(*) FROM ${tableName} WHERE ${fieldName} = #{fieldVal}
    </select>

    <!--通过查询指定table的 text code key 获取字典值-->
    <select id="queryTableDictTextByKey" parameterType="String" resultType="String">
        select ${text} as "text" from ${table} where ${code}= #{key}
    </select>

    <!-- 通过字典code获取字典数据 -->
    <select id="queryDictTextByKey" parameterType="String"  resultType="String">
        select s.item_text from sys_dict_item s
        where s.dict_id = (select id from sys_dict where dict_code = #{code})
          and s.item_value = #{key}
    </select>

    <!--通过查询指定table的 text code 获取字典（指定查询条件）-->
    <select id="queryTableDictItemsByCodeAndFilter" parameterType="String"  resultType="com.ants.modules.system.vo.DictModel">
        select ${text} as "text",${code} as "value" from ${table}
        <if test="filterSql != null and filterSql != ''">
            where ${filterSql}
        </if>
    </select>

    <!--通过查询指定table的 text code 获取字典-->
    <select id="queryTableDictItemsByCode" parameterType="string" resultType="com.ants.modules.system.vo.DictModel">
        select ${text} as "text",${code} as "value" from ${table}
    </select>

    <!-- 通过字典code获取字典数据 -->
    <select id="queryDictItemsByCode" parameterType="string" resultType="com.ants.modules.system.vo.DictModel">
        select s.item_value as "value",s.item_text as "text" from sys_dict_item s
        where dict_id = (select id from sys_dict where dict_code = #{code})
        order by s.sort_order asc
    </select>


</mapper>
