<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ants.modules.system.mapper.SysPermissionMapper">

	<select id="queryByUser" parameterType="string" resultType="com.ants.modules.system.entity.SysPermission">
		SELECT
			*
		FROM
			(
				SELECT
					p.*
				FROM
					sys_permission p
				WHERE
					(
						EXISTS (
								SELECT
									a.id
								FROM
									sys_role_permission a
										JOIN sys_role b ON a.role_id = b.id
										JOIN sys_user_role c ON c.role_id = b.id
										JOIN sys_user d ON d.id = c.user_id
								WHERE
									p.id = a.permission_id
								  AND d.username = #{username}
							)
						)
				  AND p.del_flag = 0
			) h
		ORDER BY
			h.sort_no ASC
	</select>
    <select id="queryListByParentId"  parameterType="Object" resultType="com.ants.modules.system.model.TreeModel">
		SELECT
		id
		,parent_id
		,name
		,icon
		,leaf_flag
		FROM   sys_permission
		WHERE 1=1
		<choose>
			<when test="parentId != null and parentId != ''">
				AND parent_id =  #{parentId,jdbcType=VARCHAR}
			</when>
			<otherwise>
				AND parent_id is null
			</otherwise>
		</choose>
	</select>
</mapper>
